<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body><link href="https://fonts.googleapis.com/css?family=Raleway:600">
    <title>PoornimaEvent | Home</title>
</head>

    <header id="bg-image">
        <nav>
            <div class="logo">
                <a href="index.html"><span class="brand">PoornimaEvent</span></a>
            </div>
            <div class="menu-btn">
                <i class="fa fa-bars" onclick="openMenu()" id="openBtn"></i>
                <i class="fa fa-close" onclick="closeMenu()" id="closeBtn"></i>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Register <i class="fa fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Login <i class="fa fa-sign-in"></i>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="youtubelive.html" class="nav-link">
                        Youtube Live <i class="fa fa-sign-in"></i>
                    </a>    
                </li>  
            </ul>
        </nav>
        <div class="container text-center">
            <h1 class="display-4"><span class="bold">Explore</span><br>Your Favourite Event</h1>
            <h4>"Limitation-It's just your imagination,so just stop thinking about limitation and think about your goal and run towards it to acheive the peak of your goal:)"</h4>
        </div>
    </header>

    <main>
        <section class="events">
            <!--Technical Events-->
            <div class="container p-3 rounded text-white my-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../img/technicalEvent.jpg" class="rounded" alt="technicalEvent">
                    </div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-4 bg-danger  rounded" style="font-family: Raleway,sans-serif;">Technical Events</h1>
                        <p class="p-5" style="font-family: Raleway,sans-serif; font-weight: bold;">EMBRACE YOUR TECHNICAL SKILLS BY PARTICIPATING IN OUR DIFFERENT TECHNICAL EVENTS!</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#"><button class="btn btn-danger">View Events <i class="fa fa-sign-in"></i></button></a>
                            </div>
                            <div class="col-md-6">
                                <a href="#"><button class="btn btn-danger">Register <i class="fa fa-user"></i></button>
                            </div></a>
                        </div>
                    </div>  
                </div>
            </div>
            <!--Technical Events-->
            <!--Gaming Events-->
            <div class="container  p-3 rounded text-white my-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../img/gamingEvents.jpg" class="rounded" alt="technicalEvent">
                    </div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-4  bg-danger rounded" style="font-family: Raleway,sans-serif;">Gaming Events</h1>
                        <p class="p-5" style="font-family: Raleway,sans-serif; font-weight: bold;">EMBRACE YOUR GAMING SKILLS BY PARTICIPATING IN OUR DIFFERENT GAMING EVENTS!</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-danger">View Events <i class="fa fa-sign-in"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger">Register <i class="fa fa-user"></i></button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!--Gaming Events-->
            <!--On Stage Events-->
            <div class="container p-3 rounded text-white my-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../img/onStageEvents.jpg" class="rounded" alt="technicalEvent">
                    </div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-4  bg-danger  rounded" style="font-family: Raleway,sans-serif;">On Stage Events</h1>
                        <p class="p-5" style="font-family: Raleway,sans-serif; font-weight: bold;">EMBRACE YOUR CONFIDENCE BY PARTICIPATING IN OUR DIFFERENT ON-STAGE EVENTS!</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-danger">View Events <i class="fa fa-sign-in"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger">Register <i class="fa fa-user"></i></button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!--On Stage Events-->
            <!--Off Stage Events-->
            <div class="container p-3 rounded text-white my-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../img/offStageEvents.jpg" class="rounded" alt="technicalEvent">
                    </div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-4  bg-danger  rounded" style="font-family: Raleway,sans-serif;">Off Stage Events</h1>
                        <p class="p-5" style="font-family: Raleway,sans-serif; font-weight: bold;">EMBRACE YOUR TALENT BY PARTICIPATING IN OUR DIFFERENT OFF-STAGE EVENTS!</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-danger">View Events <i class="fa fa-sign-in"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger">Register <i class="fa fa-user"></i></button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <!--Off Stage Events-->
        </section>
    </main>

    <footer>
        <div class="row">
            <div class="col-md-6 p-3">
                <h1 class="text-center text-white container rounded" style="font-weight: bold;">
                    poornima university
                </h1>
                <p class="text-center text-white">
                    Our college Mission is to impart quality technical education and higher moral ethics associated with skilled training to suit the modern day technology with innovative concepts,so as to learn to lead the future with full confidence .
                </p>
            </div>
            <div class="col-md-3 p-3">
                <h3 class="text-center text-white container rounded"  style="font-weight: bold;">
                    Address:
                </h3>
                <p class="text-center text-white">
                    SITAPURA INDUSTRIAL AREA ,JAIPUR, RAJASTHAN, 302022
                </p>
            </div>
            <div class="col-md-3 p-3">
                <h3 class="container text-center text-white rounded"  style="font-weight: bold;">
                    Follow Us:
                </h3>
                <div class="container-fixed text-center text-white" style="overflow: hidden;">
                    <a href="#" class=" text-white p-2"><i class="fa fa-facebook fa-3x"></i></a>
                    <a href="#" class=" text-white p-2"><i class="fa fa-instagram fa-3x"></i></a>
                    <a href="#" class=" text-white p-2"><i class="fa fa-linkedin fa-3x"></i></a>
                    <a href="#" class=" text-white p-2"><i class="fa fa-youtube fa-3x"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-white p-5">
                Copyright &copy; 2021
                <h1 class="container
                rounded">Designed & Developed By SHAKIB KHATRI</h1>
            </div>
        </div>
    </footer>


    <script src="../js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>